body
{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: monospace;
    
    overflow: hidden;
}

button
{
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: solid white 1px;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    box-shadow: 0.2em 0.2em 0 white;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes blurout {
    from {
        opacity: 1;
        filter: blur(0px);
    }
    to {
        opacity: 0;
        filter: blur(100px);
    }
}

@keyframes letterBlink {
    0% {color: yellow;}
    50% {color: wheat;}
    100% {color: yellow;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes gameStartBlink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#mainContent
{
    height: 100%;
}

#notificationBox
{

    background-color: gray;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    animation: fadeout 2s 3s forwards;
}

#titleDiv
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: blurout 1s ease-in 500ms forwards;
}

#title
{
    font-size: 10rem;
}

#gameStartNotifier
{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#gameNotifier
{
    font-size: 2rem;
}

.blinking
{
    animation: gameStartBlink 2500ms ease-in-out infinite;
}

#ingameScore
{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

#gameMessageDiv
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadeout 3s  2s forwards;
}

#gameMessage
{
    font-size: 10rem;
}

#letters
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.blinkingLetter
{
    animation: letterBlink 500ms infinite;
}

.menuFloater
{
    margin: 2rem;

    position: absolute;
}

.floaterTitle
{
    font-size: 3rem;
}

.floaterInfo
{
    font-size: 1.5rem;
}

#settingsMenu
{
    right: 0;
    bottom: 0;
}

#scoreMenu
{
    left: 0;
    bottom: 0;
}

#leaderBoard
{
    left: 0;
    top: 0;
}

#watermark
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    opacity: 0.5;
    transition-duration: 500ms;
    color: white;
    text-decoration: none;
}

#watermark:hover
{
    opacity: 1;
}

#watermark h1
{
    margin: 0px;
}

#watermark p
{
    text-align: right;
    color: gray;
    margin: 0px;
}